body{
    padding: 0px;
    margin: 0px;
}

herader, main, footer{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, orange, purple, yellow );
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    */
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}


.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 30px;
}

.div-main{
    width: 300px;
    height: 330px;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
   margin-right: 20px;
}

.div-img {
    width: 250px;
    height: 150px;
    margin-bottom: 5px;
    margin-top: 5px;
   /* background-image: url('/img/projetos/ds-viaCep.png');*/
    background-size: cover; /*redimensiona a img para cobrir tamanho da div*/
    background-position: center; /* centraliza a img na div */
    border: 1px solid red;
}

/* condicionando a img na div atraves do seletor*/
.div-img img {
    width: 100%; 
    height: 100%; 
    display: block; 
}


.div-title{
    width: 250px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}

.div-text{
    width: 250px;
    height: 90px;
    
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid green;
}

.div-button{  
    margin-bottom: 5px;
  }


